body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}
a:hover {
  color: red
}

/* **************************Navigation Bar **************************** */

#navlinks {
  height: 50px;
  display: grid;
  width: 50%;
  font-size: 12px;
  font-color: black;
  padding-top: 1.25%;
  padding-left: 2%;
  grid-template-columns:  repeat(4, 1fr);
}

.navBar {
  width: 100%;
  background-color: #eeeeee;

}
/* **************************NEW USER FORM **************************** */

#form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: #eeeeee;
  padding: 50px;
}

#inputField {
  margin-top: 3%;
}

#dropzone{
  background-color: #dddddd;
  padding: 15%;
  margin-bottom: 2%
}

#fileImage{
  color: #869aba;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  width: 50%;
}

/* ************************** Home Page **************************** */

.WelcomeRight {
  padding-top: 30%;
  border-color: red;
  border-style: solid;
  height: 100%
}

.WelcomeLeft {
  border-color: red;
  padding: 6%;
  border-style: solid;
  height: 100%
}

#HomeButton {
  background-color: ;
  padding-left: 40px;
  padding-right: 40px;
}

/* ************************** Profile **************************** */

#profile {
  border-style: solid;
  border-color: red;
  height: 100%;
  padding-bottom: 200px;
  margin-top: -50px;
}

.ProfileMainImage {
  position: relative;
  border-style: solid;
  border-color: blue;
  height: 400px;
  overflow:hidden;
  clear:both;
}

#ProfileMainImageH1 {
  position: absolute;
  margin-top: 200px;
  margin-left: 35%;
}

#ProfileMainImageH3 {
  margin-left: 35%;
  margin-top: 250px;
  position: absolute;
}

#ProfileCard {
  margin-left: 8%;
  margin-top: -170px;
}
