 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}
a:hover {
  color: red
}




/* **************************NEW USER FORM **************************** */

#form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: #eeeeee;
  padding: 50px;
}

#inputField {
  margin-top: 3%;
}

#dropzone{
  background-color: #dddddd;
  padding: 15%;
  margin-bottom: 2%
}

#fileImage{
  color: #869aba;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  width: 50%;
}

/* ************************** Home Page **************************** */

.WelcomeRight {
  padding-top: 30%;
  border-color: red;
  border-style: solid;
  height: 100%
}

.WelcomeLeft {
  border-color: red;
  padding: 6%;
  border-style: solid;
  height: 100%
}

#HomeButton {
  background-color: ;
  padding-left: 40px;
  padding-right: 40px;
}

/* ************************** Profile **************************** */

#profile {
  z-index: 1;
  position: relative;
  border-style: solid;
  border-color: green;
  height: 100%;
  margin-top: -50px;
}

.ProfileMainImage {
  z-index: 1;
  position: relative;
  border-style: solid;
  border-color: blue;
  height: 450px;
  overflow:hidden;
  clear:both;
}

#ProfileMainImageH1 {
  position: absolute;
  margin-top: 300px;
  margin-left: 35%;
}

#ProfileMainImageH3 {
  margin-left: 35%;
  margin-top: 350px;
  position: absolute;
}

#NewGalleryButton {
  position: relative;
  margin-bottom: 2%;

}

#ProfileAlbumCardImage {
  height: auto;
  max-height: 650px;
  width: auto;
  max-width: 250px;
  border-style: double;
  border-color: black;
  object-fit: cover
}

/* ************************** Profile Card **************************** */


#ProfileCard {
  z-index: 2;
  position: relative;
  margin-left: 8%;
  margin-top: -170px;
  padding: 10px;
}

#ProfileCardButton {
  margin: 3%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* **************************Navigation Bar **************************** */

#navlinks {
  z-index: 9999;
  position: relative;
  height: 50px;
  display: grid;
  width: 50%;
  font-size: 12px;
  font-color: black;
  padding-top: 1.25%;
  padding-left: 2%;
  grid-template-columns:  repeat(6, 1fr);

}

/* .navBar {
  width: 100%;
  background-color: #eeeeee;

} */

/* **************************NewsFeedTable **************************** */

#NewsFeedTable {
  padding: 10px;
  position: relative;
  margin-top: 25px;
  width: 95%;
}

#newsFeedLink {
  color: blue
}
#newsFeedLink:hover {
  color: red
}

#newsFeedAvatar {
  height:30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

#feedEvent {
  margin-bottom: 5px;
}

/* **************************Borders **************************** */

#RedBorder {
  border-style: solid;
  border-color: red;
}

#Red {
  border-style: solid;
  border-color: red;
}

#Blue {
  border-style: solid;
  border-color: blue;
}

/* **************************Gallery Cards **************************** */

#GalleryCardsGrid {
  border-style: solid;
  border-color: blue;
  padding: 5%;
}

#GalleryCardAvatar {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 2%;
}

/* **************************New Gallery Form **************************** */


.NewGalleryForm {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #eeeeee;
  padding: 30px;
}

#NewGalleryFormButton {
 margin-top: 3%;
}

/* **************************Album**************************** */

#AlbumTop {
  position: relative;
  z-index: 0;
  margin-top: -50px;
  background-color: #142C44;
  border-style: solid;
  border-color: orange;

}

#AlbumHeaderColor {
  color: #eeeeee;
}

#MainAlbumImage {
  position: relative;
  object-fit: cover;
  z-index: 0;
  top: -17px;
  margin-left: 25%;
  width: 55%;

  /* border-style: solid;
  border-color: red; */
}

#MainAlbumH1 {
  position: absolute;
  margin-top: -22%;
  margin-left: 15%;
  font-size: 3em;
}

#MainAlbumH2 {
  position: absolute;
  margin-top: -15%;
  margin-left: 19%;
  font-size: 2em;
}

#Album2ndModule {
  border-style: solid;
  border-color: blue;
}

#AlbumProfileCard {
  z-index: 2;
  position: relative;
  margin-left:;
  padding: 10px;
  height: 400px;
  width: 200px;
}

#AlbumCard {
  margin: 3%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: block;
  font-size: .75em;
}

#AlbumCardsGroup {
  margin-left: 10%;
}

/* #Gallery {
  padding: 10%;
} */

#GalleryButton {
  margin-bottom: 1%;
}

#photoGrid {
  line-height: 0;
  webkit-column-count: 4;
  webkit-column-gap:   15px;
  moz-column-count:    4;
  moz-column-gap:      15px;
  column-count:         4;
  column-gap:           15px;
  width: 100%;
}

#photoGrid img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  #photoGrid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photoGrid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photoGrid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 375px) {
  #photoGrid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#lightbox {
  width: 100%
}

#test2 {
  width:100%;
}

#imagePreview {
  width: auto;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
